<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
</head>

<body>
    <div class="login-area">
        {% if user %}
            {{user.name}} (<a class="login-link" href="/logout">logout</a>)
        {% else %}
            <a class="login-link" href="/login">login</a>
            |
            <a class="login-link" href="/signup">signup</a>
        {% endif %}
    </div>
    <a href="/blog" class="main-title">Blog</a>
    <hr>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

